<%if @current_user_id_row != nil%>

  <h1>My CRM</h1>
  
  <ul>
    <% for company in @companies %>
      <li>
        <a href="/companies/<%= company["id"] %>"><%= company["name"] %></a>
      </li>
    <% end %>
  </ul>

  <p><a href="/companies/new">Create a new company</a></p>

<%else%>
  You need to login in to view this content
<%end%>